SUPABASE_URL=https://nvijbqpvtxmgfbshvnuy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52aWpicXB2dHhtZ2Zic2h2bnV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0Nzg5MzY0MSwiZXhwIjoyMDYzNDY5NjQxfQ.qThxTwtvbkiATADuxefHCu1L7pXw4PDJqZVJ_TPYECA